- if @league.errors.any?
  #error_explanation
    %h2
      = pluralize(@league.errors.count, "error")
      prohibited this league from being saved:
    %ul
      - @league.errors.full_messages.each do |msg|
        %li= msg

= form_for @league do |f|
  Name: #{f.text_field :name}
  %br/
  Description: #{f.text_area :description}
  %br/
  League capacity: #{f.text_field :capacity}
  = f.submit
