.page-header
  %h1
    =@league.name
    %small
      =@league.fill_status
  %p
    =@league.description

.navigation-links
  %span= link_to "Join", join_league_path(@league), method: :post, class: "btn btn-success"
  %span= link_to "Edit", edit_league_path(@league), class: "btn btn-warning"
  %span= link_to "Back to leagues list", leagues_path, class: "btn btn-primary"

.league-members.panel.panel-default
  .panel-heading
    League's members
  .panel-body
    - @league.users.each do |user|
      %ol
        %span= link_to user.name, user_path(user)
        - if current_user == user
          =link_to "Kick", user_kickout_path(@league.id, user.id), class: "btn btn-danger", method: :post

.league-matches.panel.panel-default
  .panel-heading
    League's matches
  .panel-body
    - @league.matches.each do |match|
      %ol
        %span= "#{match.player1.name} vs #{match.player2.name}"
        =link_to "Enter Score", edit_match_path(match), class: "btn btn-primary"
