%h2 Comments
= render 'comments/form', locals: { comment: :comment }

- if @comments
  - @comments.each do |comment|
    .comment
      .page-header
        %h2
          = comment.title
          %small= "Added by #{comment.author.name}"
        Message:
        = comment.message
