%h1 All signed up users
= link_to "Create new user", new_user_path
%ul.list-group
  - @users.each do |user|
    %li.list-group-item
      - if user == current_user
        = link_to user.email, user
        (#{user.name})
        >
        = link_to "Edit", edit_user_path(user)
        >
        = link_to "Delete", user_path(user), method: :delete
      - else
        = link_to user.email, user
        (#{user.name})
