%h1 All signed up users
%ul.list-group
  - @users.each do |user|
    %li.list-group-item
      - if user == current_user
        = link_to user.name, user
        (#{user.email})
        %span= link_to "Edit", edit_user_path(user), class: "btn btn-warning"
        = link_to "Delete", user_path(user), method: :delete, data: { confirm: "Come on Dude :( \nI have kids \nOkay, I don't have kids \nbut seriously ------------>  DO NOT PRESS OK" }, class: "btn btn-danger"
      - else
        = link_to user.name, user
        (#{user.email})
