.page-header
  %h1
    =@user.name.capitalize
    %small= @user.leagues_summarize

- unless @user.leagues.empty?
  %h1= "Leagues where #{@user.name.capitalize} participates"
  %ul.list-group
    - @user.leagues.each do |league|
      %li.list-group-item= league.name

- unless @user.owned_leagues.empty?
  %h1= "Leagues owned by #{@user.name}"
  %ul.list-group
    - @user.owned_leagues.each do |league|
      %li.list-group-item= league.name

= render 'users/comments', locals: { comment: @comment }
