%h1= "Leagues where #{@user.name} participate"
%ul.list-group
- @user.leagues.each do |league|
 %li.list-group-item= league.name


 %h1= "Leagues owned by #{@user.name}"
 %ul.list-group
 - @user.owned_leagues.each do |league|
  %li.list-group-item= league.name
