.page-header
  %h1
    =@user.name.capitalize
    %small= @user.leagues_summarize

.profile-edit
  = link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary"

- unless @user.leagues.empty?
  %h1= "Leagues where #{@user.name.capitalize} participates"
  %ul.list-group
    - @user.leagues.each do |league|
      %li.list-group-item= link_to league.name, league_path(league)

- unless @user.owned_leagues.empty?
  %h1= "Leagues owned by #{@user.name}"
  %ul.list-group
    - @user.owned_leagues.each do |league|
      %li.list-group-item= link_to league.name, league_path(league)

= render 'users/comments', locals: { comment: @comment }
