.page-header
  %h1
    =@user.name.capitalize
    %small= @user.leagues_summarize

.profile-edit
  = link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary"

= render 'participated_leagues'

= render 'owned_leagues'

= render 'users/comments', locals: { comment: @comment }
