%h1 Matches index
%ol
  - @matches.each do |match|
    %li
      = match.league_id
      >
      = match.player1.email
      vs
      = match.player2.email
      >
      = match.player1_goals
      =":"
      = match.player2_gogals