%nav#mainNav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand.page-scroll= link_to "Rankinger", root_path
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Users", users_path
        %li= link_to "Leagues", leagues_path
        -if user_signed_in?
          %li= link_to current_user.name.capitalize, user_path(current_user), class: "user-navbar"
          %li= link_to "Logout", destroy_user_session_path, method: :delete
        -if !user_signed_in?
          %li= link_to "Login", new_user_session_path
          %li= link_to "Sign in", new_user_registration_path
    / /.navbar-collapse
  / /.container-fluid
