%section#portfolio.no-padding
  .container-fluid
    .row.no-gutter
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "creative/portfolio/1.jpg", class: "img-responsive", alt: ""
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "creative/portfolio/2.jpg", class: "img-responsive", alt: ""
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "creative/portfolio/3.jpg", class: "img-responsive", alt: ""
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "creative/portfolio/4.jpg", class: "img-responsive", alt: ""
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "creative/portfolio/5.jpg", class: "img-responsive", alt: ""
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "#"}
          = image_tag "creative/portfolio/6.jpg", class: "img-responsive", alt: ""
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Category
              .project-name
                Project Name
