!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rankinger
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %nav.navbar.navbar-default{:role => "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand{:href => "www.google.pl"} Rankinger
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#"} Link
          %li
            %a{:href => "#"} Link


      - flash.each do |type, message|
        %div{class: "alert alert-#{type}", role: "alert"}= message

    .current-user-message
      - if current_user
        = "You are now logged as #{current_user}."
        = link_to "Log out", destroy_user_session_path, method: :delete
      - else
        %span You are not logged in.
        = link_to "Log in", new_user_session_path


= yield
